.container {
	width: 100%;
	display: flex;
}
.wrapper {
	width: 100%;
}
.presentation {
	width: 100%;
	position: relative;
	display: flex;
}
.presentation__row {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	position: relative;
}
.presentation__row-cell {
	height: 100%;
	border-left: 1px solid var(--light-grey);
}
.presentation__row-cell:last-child {
	border-right: 1px solid var(--light-grey);
}
.event {
	padding: 5px;
	position: absolute;
	height: 18px;
	padding: 2px 4px;
	overflow: hidden;
	color: #000000;
	border-radius: 3px;
	display: flex;
	align-items: center;
}
.event__descr {
	font-size: 12px;
	font-weight: 500;
	max-height: 100%;
	line-height: 1.2;
	display: block;
	white-space: nowrap;
	overflow: hidden;
}
