.header {
	width: 100%;
	padding: 8px 16px;
	display: flex;
	justify-content: center;
	gap: 20px;
	align-items: center;
	background-color: #bde2f0;
}
.header__user {
	font-family: 'Roboto', system-ui;
	display: flex;
	flex-direction: column;
	line-height: 1;
}
.header__user-name {
	font-size: 16px;
	color: #18181b;
	margin-bottom: 3px;
	font-weight: 600;
}
.header__user-email {
	font-size: 12px;
	color: #71717a;
	font-weight: 500;
}
