.calendar {
	margin-bottom: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Inter', serif;
	font-size: 16px;
	font-weight: 600;
}
.weekdays,
.days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}
.weekdays {
	color: #3b82f6;
}
.weekdays div,
.day {
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.day {
	cursor: pointer;
	border-radius: 50%;
	transition: all 0.3s ease;
	color: #71717a;
}
.day.currentMonth,
.day.otherMonth.today {
	color: #fff;
}
.day.activeDay,
.day.activeDay.today {
	background-color: #3b82f6;
}

.day.today {
	background-color: #71717a;
}
.day:hover {
	background-color: #3b82f6;
	color: #fff;
}
