.container {
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
	position: relative;
	z-index: 3;
	padding-right: 8px;
	border-top: 1px solid var(--light-grey);
}
.header {
	display: flex;
	width: 100%;
	height: 48px;
}
.header__weekdays {
	display: grid;
	width: 100%;
}
.day {
	border-left: 1px solid var(--light-grey);
	font-family: 'Inter', serif;
	text-align: center;
	line-height: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.day:last-child {
	border-right: 1px solid var(--light-grey);
}
.day__inner {
	border-radius: 50%;
	/* width: 50px;
	height: 50px; */
	width: 46px;
	height: 46px;
	margin: 0 auto;
	padding: 4px;
}
.day__week {
	font-weight: 700;
	color: var(--dark-grey);
	font-size: 12px;
	/* margin-bottom: 2px; */
	overflow: hidden;
}
.day__date {
	font-weight: 500;
	color: var(--black);
	font-size: 24px;
}
.today {
	background-color: var(--light-blue);
}
.day__inner.today .day__date {
	color: #fff;
}
.day__inner.today .day__week {
	color: #32435c;
}
